body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    text-align: center;
    width: 300px;
  }
  
  #balance {
    font-weight: bold;
    color: green;
    font-size: 1.5rem;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin: 15px 0;
    font-size: 1rem;
    border: 2px solid gray;
    border-radius: 20px;
  }
  
  .buttons button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }
  
  .buttons button:nth-child(2) {
    background-color: #dc3545;
  }
  
  .buttons button:nth-child(3) {
    background-color: #6c757d;
  }
  
  /* responsive */
  @media screen and (max-width:300px) {
    .container{
      height: 600px;
      width: 250px;
    }
  }